@use "../../scss/"as *;
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $white;
    padding: 15px 0;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
    box-shadow: 0 10px 15px -3px rgba(47, 181, 250, .05), 0 4px 6px -2px rgba(47, 181, 250, .025);
    &__container {
        max-width: $max-width;
        margin: 0 auto;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        width: 87px;
        height: 40px;
        background-color: $blue;
        color: $white;
        text-align: center;
        font-size: 16px;
        border-radius: 3px;
        cursor: pointer;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        gap: 0 20px;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0 20px;
        }
    }

    &__title {
        font-size: 13px;
        color: $black;
        font-weight: 600;
    }

    &__cate {
        width: $width-15;
        display: flex;
        align-items: center;
        gap: 0 2px;

        &:first-child {
            position: relative;
            cursor: pointer;
        }

        &-menu {
            z-index: 999;
            position: fixed;
            display: flex;
            padding: 1rem;
            max-height: 80vh;
            max-width: calc($max-width + 20px);
            flex-wrap: wrap;
            gap: 10px 20px;
            top: 130px;
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(226, 232, 240, 1);
            box-shadow: 0 10px 15px -3px rgba(47, 181, 250, .05), 0 4px 6px -2px rgba(47, 181, 250, .025);
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 7px;
            border: 1px solid $boder-color;
            padding: 5px;
            border-radius: 5px;
        }

        &-link:hover {
            background-color: $background-color;
        }

        &-text {
            white-space: nowrap;
            font-size: 15px;
        }

        &-img {
            width: 30px;
            height: 30px;
            border-radius: 3px;
        }

        &-icon {
            font-size: 25px;
            color: $gray;

        }
    }

    &__member {
        width: calc(100% - ($width-15 + $width-70));
    }

    &__menu {
        &-category {
            width: calc(100% - 16rem);

            &-wrapper {
                display: flex;
                gap: 0 20px;
                align-items: center;
            }

            &-icon {
                position: sticky;
                top: 0;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 3.5rem;
                font-size: .75rem;

                &.right {
                    right: 0;
                    background: linear-gradient(270deg, #fff 25%, hsla(0, 0%, 100%, .9) 60%, hsla(0, 0%, 100%, 0));
                }
            }
        }

        &-navbar {
            overflow-x: hidden;
            -ms-overflow-style: none;
            scrollbar-width: auto;
            width: 100%;
        }

        &-list {
            display: flex;
            align-items: center;
            width: fit-content;
            transition: all 200ms ease-in-out 0s;
            gap: 0 20px;
        }
    }

    &__icon {
        color: $gray;
        font-size: 24px;

        &-top {
            transform: translateY(4px);
        }

        &-top-wrapper {
            padding: 4px 5px;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
        }

        &-top-wrapper:hover {
            background-color: #f1f5fa;
        }
    }

    &__menu-link {
        text-transform: uppercase;
        font-size: 14px;
        color: $text-menu-color;
        white-space: nowrap;
    }

    &__notify {
        position: absolute;
        z-index: 9999;
        top: 63%;
        right: 0;
        width: 414px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        background-color: $white;
        cursor: default;
        box-shadow: 0 10px 15px -3px rgba(47, 181, 250, .05), 0 4px 6px -2px rgba(47, 181, 250, .025);
        display: block;

        // &::before{
        //     content:"";
        //     border-style: solid ; 
        //     border-width: 20px 27px ;
        //     border-color: transparent transparent $white transparent;
        //     position: absolute;
        //     right:4px;
        //     top :-29px;
        // }   
        // &::after{
        //     content:"";
        //     display: block;
        //     position: absolute;
        //     right:0;
        //     top:-16px;
        //     width: 90px;
        //     height:20px;        
        // }
        &-wrapper {
            border-bottom: 1px solid $boder-color;
        }

        &-header {
            text-align: left;
            padding: 0 20px;
            margin-top: 10px;
        }

        &-header h3 {
            color: #333;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 40px;
            cursor: text;
            user-select: none;
            margin-bottom: 10px;
        }

        &-list {
            padding: 0 10px;
            padding-bottom: 10px;
        }

        &-item {
            border-radius: 3px;
            padding: 5px 10px;

            &:hover {
                background-color: rgba(237, 242, 247, 1);
                cursor: pointer;
            }
        }

        &-menu {
            display: flex;
            align-items: flex-start;
            gap: 0 10px;
        }

        &-img {
            max-width: 48px;
            max-height: 48px;
            border-radius: 50%;
            object-fit: cover;
        }

        &-info {
            text-align: left;
        }

        &-strong b {
            color: rgba(74, 85, 104, 1);
            font-size: 15px;
        }

        &-icon {
            font-size: 25px;

            &:hover {
                color: $blue;
            }
        }

        &-content {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &-time {
            text-align: left;
            margin-left: 58px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            gap: 0 10px;
        }

        &-footer {
            padding: 5px 0;

            & p {
                color: #333;
                font-weight: 700;
                font-size: 15px;
            }
        }
    }

    &__avt {
        position: relative;
    }

    &__dropdown {
        position: absolute;
        z-index: 9999;
        top: 63%;
        right: 0;
        width: 318px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 10px 15px -3px rgba(47, 181, 250, .05), 0 4px 6px -2px rgba(47, 181, 250, .025);

        &-header {
            display: flex;
            align-items: flex-start;
            gap: 0 10px;
            border-radius: 7px;

            &:hover {
                background-color: $hover-color;
            }
        }

        &-img {
            max-width: 78px;
            max-height: 78px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 7px;
            }
        }

        &-name {
            font-size: 16px;
            font-weight: 700;
        }

        &-phone {
            font-size: 14px;
            color: #969696;
        }

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-item {
            border-radius: 7px;

            &:hover {
                background-color: $hover-color;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 0 10px;
            border-radius: 7px;
            &:hover {
                background-color: $hover-color;
            }
        }
    }

    &__post {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all .25s linear;
        transform: translate(0px, 0px);
        transition: transform 0.2s linear 0;
        background-color: $white;
        &-section {
            width: $max-width;
            margin: 0 auto;
            height: 3rem;
            padding: 0 10px;
            border-radius: 5px;
        }
        &-container{
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            max-width: $max-width;
            margin-top: 20px;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        &-info {
            display: flex;
            align-items: center;
            gap: 0 20px;
        }
    }
}