@use "../../scss/"as *;
.header { 
    position: fixed;
    top : 0 ; 
    left : 0 ;  
    right : 0 ; 
    z-index: 9999;
    background-color: $white;
    padding: 15px 0;
    border-bottom: 1px solid rgba(226,232,240,1);
    box-shadow: 0 10px 15px -3px rgba(47,181,250,.05),0 4px 6px -2px rgba(47,181,250,.025);

    &__container {
        max-width: $max-width;
        margin: 0 auto;
    }
    &__top{
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        width: 87px;
        height: 40px;
        background-color: $blue;
        color: $white;
        text-align: center;
        font-size: 16px;
        border-radius: 3px;
    }
    &__menu {
        display : flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap : 0 20px ;
        }
    }
    &__title{
        font-size: 14px;
        color:$black; 
        font-weight: 600;
    }
    &__cate{ 
        width: $width-15;
        display: flex;
        align-items: center;
        gap: 0 7px;
            &:first-child { 
                position: relative;
                cursor: pointer;
            }
            &-menu {
                z-index: 99;
                position: fixed;
                display: flex;
                padding: 1rem;
                max-height: 80vh;
                max-width: calc( $max-width + 20px);
                flex-wrap: wrap;
                gap: 10px 20px;
                top: 130px;
                background-color: rgba(255,255,255,1);
                border: 1px solid rgba(226,232,240,1);
                box-shadow: 0 10px 15px -3px rgba(47,181,250,.05),0 4px 6px -2px rgba(47,181,250,.025);   
            }
            &-link{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap : 0 7px;
                border: 1px solid $boder-color;
                padding: 5px;
                border-radius: 5px;
            }
            &-link:hover{
                background-color:$background-color;
             }
            &-text{ 
                white-space: nowrap;
                font-size: 15px;
            }
            &-img {
                width: 30px;
                height: 30px;
                border-radius: 3px;
            }
            &-icon {
                font-size: 25px;
                color: $gray;
            }
    }
    &__member{ 
       width: calc(100% - ($width-15 + $width-70) );
    }
    &__menu-category {
        width: $width-70;
    }
    &__menu-list{ 
        display : flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon{
        color: $gray;
        font-size: 24px;
        &-top-wrapper{ 
            padding: 4px 5px ;
            overflow: hidden;
            text-align: center;
        }
        &-top-wrapper:hover{ 
            background-color: #f1f5fa;
        }
    }
    &__menu-link{
        text-transform: uppercase;
        font-size: 14px;
        color: $text-menu-color;
    }
}